@model  StarMedsMVC.Models.CartProductModel
<!-- SmartWizard html -->
<div id="wizard">
    <ul>
        <li><a href="#step-1">Shopping Cart <br /><small>Step 1</small></a></li>
        <li><a href="#step-2">Delivery Details<br /><small> Step 2</small></a></li>
        <li><a href="#step-3">Payment <br /><small>Step 3</small></a></li>
    </ul>
    <div>
        <div id="step-1">
            <div class="row margin-none">
                <div class="col-xs-12 col-sm-8 padding-none">
                    <div class="contianer-fluid productlist-card productlist-card-title">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <h5 class="margin-none strong">Product Details</h5>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right">
                                <h5 class="margin-none strong">Delivery Options</h5>
                            </div>
                        </div>
                    </div>
                    @if (Model.HealthProducts.Count > 0)
                    {
                        foreach (var product in Model.HealthProducts)
                        {
                            <div class="contianer-fluid productlist-card">
                                <div class="row productId">
                                    @if (product.Product_Image != null)
                                    {
                                        <img class="product-img center-block borderradius" width="60" src="data:image/jpeg;base64,@(Convert.ToBase64String(product.Product_Image))">
                                    }
                                    else
                                    {
                                        <img class="img-responsive" src="~/Images/no-image-found.png" alt="product-image">
                                    }
                                    <a class="btn btnRemoveBdr" href="@Url.Action("RemoveProducts", "Cart", new { id = product.Product_Id, producttype = "healthproduct" })"><i class="fa fa-trash-o size-14" aria-hidden="true"></i></a>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="row margin-l-r-none margin-b clearfix">
                                            <div class="left w75">
                                                <h5 class="color-black strong">@product.Product_Name.ToUpper()</h5>
                                                <p class="size-12 margin-b-5">@product.Quantity.ToUpper()</p>
                                                <p class="size-12 margin-b-5">
                                                    <span class="margin-r color-dgry">MRP / Pack <i class="fa fa-rupee size-10"></i> <span class="size-14">@product.Product_Price</span></span>
                                                    MRP Total<i class="fa fa-rupee size-12 padding-l-5"></i> <span class="size-16 strong">@product.Product_Price</span>
                                                </p>
                                            </div>
                                            <div class="right clearfix">
                                                <p class="size-12 text-right">
                                                    <span class="strong">Standard delivery - Free</span><br>
                                                    Available in 2 Days
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                    @if (Model.PharmacyProducts.Count > 0)
                    {
                        foreach (var product in Model.PharmacyProducts)
                        {
                            <div class="contianer-fluid productlist-card">
                                <div class="row productId">
                                    @if (product.ProductImage != null)
                                    {
                                        <img class="product-img center-block borderradius" width="60" src="data:image/jpeg;base64,@(Convert.ToBase64String(product.ProductImage))">
                                    }
                                    else
                                    {
                                        <img class="img-responsive" src="~/Images/no-image-found.png" alt="product-image">
                                    }

                                    <a class="btn btnRemoveBdr" href="@Url.Action("RemoveProducts", "Cart", new { id = product.ProductId, producttype = "pharmacyproduct" })"><i class="fa fa-trash-o size-14" aria-hidden="true"></i></a>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="row margin-l-r-none margin-b clearfix">
                                            <div class="left w75">
                                                <h5 class="color-black strong">@product.ProductName.ToUpper()</h5>
                                                <p class="size-12 margin-b-5">@product.Quantity</p>
                                                <p class="size-12 margin-b-5">
                                                    <span class="margin-r color-dgry">MRP / Pack <i class="fa fa-rupee size-10"></i> <span class="size-14">@product.ProductPrice</span></span>
                                                    MRP Total<i class="fa fa-rupee size-12 padding-l-5"></i> <span class="size-16 strong">@product.ProductPrice</span>
                                                </p>
                                            </div>
                                            <div class="right clearfix">
                                                <p class="size-12 text-right">
                                                    <span class="strong">Standard delivery - Free</span><br>
                                                    Available in 2 Days
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
                <div class="col-xs-12 col-sm-4 padding-r-0">
                    <div class="padding-all checkout-container-row">
                        <h5 class="padding-b padding-l-none size-16 margin-t-b-none">Order Summary</h5>
                        <div class="lineheight26 size-13">
                            <div>No. of Items<span class="right">@Model.TotalItems</span></div>
                            <div class="strong">MRP Total <span class="right"><i class="fa fa-rupee color-label size-10 padding-l-5"></i> @Model.TotalPrice</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="step-2">
            <div class="clearfix">
                <div class="col-xs-12 col-sm-8">
                    <h4 class="subtitle">Address For Home Delivery</h4>

                    @if (Model.Addresses.Count > 0)
                    {
                        int count = 0;
                        foreach (var addr in Model.Addresses)
                        {
                            count++;
                            <div class="radio-item-panel">
                                <p>
                                    <input type="radio" id="@("address"+count)" name="customer-address" value=@addr.AddressId>
                                    <label for="@("address"+count)">
                                        <strong>@addr.Name</strong>
                                        @addr.AddressDoorNo, @addr.AddressLine1, @addr.AddressLine1, @addr.LandMark, @addr.City, @addr.State, @addr.PinCode
                                    </label>
                                </p>
                            </div>
                        }
                    }
                    else
                    {
                        <h4>No Address Added</h4>
                    }

                </div>
                <div class="col-xs-12 col-sm-4">
                    <h4 class="subtitle">Add New Address For Home Delivery </h4><a href="@Url.Action("Create", "Addresses")"> Click Here</a>

                    @*<div class="form-group">
                            <label>Name</label>
                            <input type="text" id="your_name" placeholder="Your name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <textarea name="address1" class="form-control required" placeholder="Address" maxlength="200" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Address Line 1</label>
                            <input type="text" id="your_name" placeholder="Address" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Address Line 2</label>
                            <input type="text" id="your_name" placeholder="Address" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Pincode</label>
                            <input type="text" id="your_name" placeholder="Pincode" class="form-control">
                        </div>*@
                </div>
            </div>
        </div>
        <div id="step-3">
            <div class="row margin-none">
                <div class="col-xs-12 col-sm-8 padding-none">
                    <div class="contianer-fluid productlist-card productlist-card-title order-title">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <h5 class="margin-none strong color-blue">Order Details</h5>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right">
                                <p class="margin-none padding-r-15">
                                    <i class="fa fa-dot-circle-o color-dgreen padding-r size-16" aria-hidden="true"></i>Standard delivery in 2 Days <span class="padding-l-r-5">-</span> Free
                                </p>
                            </div>
                        </div>
                    </div>


                    @if (Model.HealthProducts.Count > 0)
                    {
                        foreach (var product in Model.HealthProducts)
                        {
                            <div class="contianer-fluid productlist-card">
                                <div class="row productId">
                                    @if (product.Product_Image != null)
                                    {
                                        <img class="product-img center-block borderradius" width="60" src="data:image/jpeg;base64,@(Convert.ToBase64String(product.Product_Image))">
                                    }
                                    else
                                    {
                                        <img class="img-responsive" src="~/Images/no-image-found.png" alt="product-image">
                                    }
                                    <a class="btn btnRemoveBdr" href="@Url.Action("RemoveProducts", "Cart", new { id = product.Product_Id, producttype = "healthproduct" })"><i class="fa fa-trash-o size-14" aria-hidden="true"></i></a>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="row margin-l-r-none margin-b clearfix">
                                            <div class="left w75">
                                                <h5 class="color-black strong">@product.Product_Name.ToUpper()</h5>
                                                <p class="size-12 margin-b-5">@product.Quantity.ToUpper()</p>
                                                <p class="size-12 margin-b-5">
                                                    <span class="margin-r color-dgry">MRP / Pack <i class="fa fa-rupee size-10"></i> <span class="size-14">@product.Product_Price</span></span>
                                                    MRP Total<i class="fa fa-rupee size-12 padding-l-5"></i> <span class="size-16 strong">@product.Product_Price</span>
                                                </p>
                                            </div>
                                            <div class="right clearfix">
                                                <p class="size-12 text-right">
                                                    <span class="strong">Standard delivery - Free</span><br>
                                                    Available in 2 Days
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    @if (Model.PharmacyProducts.Count > 0)
                    {
                        foreach (var product in Model.PharmacyProducts)
                        {
                            <div class="contianer-fluid productlist-card">
                                <div class="row productId">
                                    @if (product.ProductImage != null)
                                    {
                                        <img class="product-img center-block borderradius" width="60" src="data:image/jpeg;base64,@(Convert.ToBase64String(product.ProductImage))">
                                    }
                                    else
                                    {
                                        <img class="img-responsive" src="~/Images/no-image-found.png" alt="product-image">
                                    }

                                    <a class="btn btnRemoveBdr" href="@Url.Action("RemoveProducts", "Cart", new { id = product.ProductId, producttype = "pharmacyproduct" })"><i class="fa fa-trash-o size-14" aria-hidden="true"></i></a>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="row margin-l-r-none margin-b clearfix">
                                            <div class="left w75">
                                                <h5 class="color-black strong">@product.ProductName.ToUpper()</h5>
                                                <p class="size-12 margin-b-5">@product.Quantity</p>
                                                <p class="size-12 margin-b-5">
                                                    <span class="margin-r color-dgry">MRP / Pack <i class="fa fa-rupee size-10"></i> <span class="size-14">@product.ProductPrice</span></span>
                                                    MRP Total<i class="fa fa-rupee size-12 padding-l-5"></i> <span class="size-16 strong">@product.ProductPrice</span>
                                                </p>
                                            </div>
                                            <div class="right clearfix">
                                                <p class="size-12 text-right">
                                                    <span class="strong">Standard delivery - Free</span><br>
                                                    Available in 2 Days
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    <div class="productlist-card total-value-box">
                        <div class="total-line-box">
                            <span class="mrp-total">Cart MRP Total</span>
                            <span class="mrp-total"><i class="fa fa-rupee size-10"></i> @Model.TotalPrice</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 padding-r-0">
                    <div class="padding-all checkout-container-row">
                        <h5 class="padding-b padding-l-none size-16 margin-t-b-none">Order Summary</h5>
                        <div class="lineheight26 size-13">
                            <div>No. of Items<span class="right">@Model.TotalItems</span></div>
                            <div class="strong">MRP Total <span class="right"><i class="fa fa-rupee color-label size-10 padding-l-5"></i> @Model.TotalPrice</span></div>
                        </div>
                        <hr class="margin-t-15 margin-b">
                        <div class="padding-l-r lineheight26 size-13">
                            <p class="strong margin-none">Amount to be paid <span class="right"><i class="fa fa-rupee color-label size-10"></i>@Model.TotalPrice</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 padding-none">
                    <div class="radio-item-panel">
                        <p>
                            <input type="radio" id="test1" name="radio-group">
                            <label for="test1">Online Payment (Credit Card / Debit Card / Net Banking / UPI)</label>
                        </p>
                    </div>
                    <div class="radio-item-panel">
                        <p>
                            <input type="radio" id="test2" name="radio-group">
                            <label for="test2">Cash on Delivery</label>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        @*$('.btn.disabled.sw-btn-next').click(function () {
            alert("add to cart btn clicked");

        });

        function showAStepCallback(obj, context) {

            if (context.fromStep == 2 && context.toStep == 3) {
                var model = JSON.stringify(@Model);
                var s = 10;
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetSampleFeed")',
                    data: "inStringModel=" + model
                });

            }

            // return false to stay on step and true to continue navigation 
        }
        // setting the active tab
        //$('#smartwizard').smartWizard();
        //$('.date').datepicker({ dateFormat: "dd/mm/yy" });
        function onFinishCallback() {
            $('#wizard').smartWizard('showMessage', 'Finish Clicked');
            //alert('Finish Clicked');
        }
       
        //$('.btn.disabled.sw-btn-next').click(function () {
        //    if ($('.btn.disabled.sw-btn-next').text() == "Place Order") {
        //        alert('test');
        //    }
        //});*@
    });
   

</script>