<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - StarMeds</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    @Styles.Render("~/Content/owl.carousel.min.css")
    @Styles.Render("~/Content/smart_wizard.min.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @Html.Action("Index", "NavigationMenu")
    <div class="container body-content">
        @RenderBody()

    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>&copy; @DateTime.Now.Year - StarMeds</p>
                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/scripts/jquery.smartWizard.min.js")
    @Scripts.Render("~/scripts/owl.carousel.min.js")
    @Scripts.Render("~/scripts/CustomScript.js")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $("#txtSearch").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Search/SearchSuggestions",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.ProductName, value: item.ProductName };
                            }))
                        }
                    })
                },
                messages: {
                    noResults: "", results: ""
                }
            });
        })
    </script>
</body>
</html>
