@model StarMedsMVC.CustomerDetail
@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Index", "AdminLogin", FormMethod.Post))
{
    <fieldset>
        <h3>Sign In</h3>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }


        <div class="form-group">
            <label for="UserName">User Name:</label>
            @Html.TextBox("UserName", null, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="UserName">Password:</label>
            @Html.Password("Password", null, new { @class = "form-control" })
        </div>
        <div class="checkbox">
            <label><input type="checkbox"> Remember me</label>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>      
    </fieldset>
} 