@model StarMedsMVC.CustomerDetail
@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    <fieldset>
        <h3>Sign In</h3>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }


        <div class="form-group">
            <label for="UserName">User Name:</label>
            @Html.TextBox("UserName", null, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="UserName">Password:</label>
            @Html.TextBox("Password", null, new { @class = "form-control" })
        </div>
        <div class="checkbox">
            <label><input type="checkbox"> Remember me</label>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <div class="btm-fixedbar color-grey border-t  padding-t-b-15 signinPopUp">
            New to StarMeds? <span class="padding-l-5"><strong>@Html.ActionLink("Register Here", "Index", "RegisterUser")</strong></span>
        </div>
    </fieldset>
} 