@model StarMedsMVC.CustomerDetail
@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    <fieldset>
        <h3>Sign In</h3>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        


        <div class="form-group">
            <label for="UserName">User Name:</label>
            @Html.TextBox("UserName", null, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="UserName">Password:</label>
            @Html.Password("Password", null, new { @class = "form-control" })
        </div>
        <div>
            <label class="label-success">@ViewBag.message</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox"> Remember me</label>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <div class="btm-fixedbar color-grey border-t  padding-t-b-15 signinPopUp">
            New to StarMeds? <span class="padding-l-5"><strong>@Html.ActionLink("Register Here", "Index", "RegisterUser")</strong></span>
        </div>
        <hr />
        <div class="btm-fixedbar color-grey border-t  padding-t-b-15 signinPopUp">
            Are you a Admin? <span class="padding-l-5"><strong>@Html.ActionLink("Login Here", "Index", "AdminLogin", new { area="admin"},null)</strong></span>
        </div>
    </fieldset>
} 