<div class="page-header-serach">
    <h2> Showing results for "<span class="color-blue">@Model.SearchText</span>"</h2>
</div>
@model StarMedsMVC.Models.SearchModel
<div class="row">

    @if (Model.HealthProducts.Count == 0 && Model.PharmacyProducts.Count == 0)
    {

        <h4>No Products found for @Model.SearchText</h4>
    }
    else
    {
        <div class="col-md-12">

            <div class="page-header-subtitle">

                <h3>Matching Products</h3>
            </div>

            <table class="table table-hover table-striped">

                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th class="col-md-2">Pack Size</th>
                        <th>MRP(<i class="fa fa-inr"></i>)</th>
                        <th class="col-md-2 text-center"></th>
                    </tr>
                </thead>

                <tbody>
                    @if (Model.HealthProducts.Count > 0)
                    {
                        foreach (var item in Model.HealthProducts)
                        {
                            <tr>
                                <td>
                                    <a class="text-default" href=""><strong class="searchResultProductName">@item.Product_Name</strong></a><br>
                                    <small class="text-muted">@item.SubClassification</small>
                                </td>

                                <td>10</td>
                                <td style="width:65px;">
                                    @item.Product_Price
                                </td>

                                <td class="text-center">
                                    <a class="btn btn-danger btn-sm addToCartBtn" type="button" href="@Url.Action("AddProducts", "Cart", new { id = item.Product_Id, producttype = "healthproduct" })">Add to Cart</a>
                                    
                                </td>
                            </tr>
                        }
                    }

                    @if (Model.PharmacyProducts.Count > 0)
                    {
                        foreach (var item in Model.PharmacyProducts)
                        {
                            <tr>
                                <td>
                                    <a class="text-default" href=""><strong class="searchResultProductName">@item.ProductName</strong></a><br>
                                    <small class="text-muted">@item.Manufacturer</small>
                                </td>

                                <td>10</td>
                                <td style="width:65px;">
                                    @item.ProductPrice
                                </td>

                                <td class="text-center">
                                    <a class="btn btn-danger btn-sm addToCartBtn" type="button" href="@Url.Action("AddProducts", "Cart", new { id = item.ProductId, producttype = "pharmacyproduct" })">Add to Cart</a>                                   
                                </td>
                            </tr>
                        }
                    }
                </tbody>

            </table>
        </div>

    }





    @*<div class="col-md-4">

            <div class="page-header-subtitle">

                <h3>Matching Compositions</h3>
            </div>

            <table class="table table-alternate table-striped table-condensed">
                <thead>
                    <tr class="active color-wht">
                        <th>Composition Name</th>
                    </tr>
                </thead>

                <tbody>


                    <tr class="cursor">
                        <td>
                            <span class="wbrk">
                                <a class="text-default vsmall-text" href="">Ranibizumab 10 MG /ML</a>
                            </span>
                        </td>
                    </tr>
                    </tbody>
            </table>

        </div>*@


</div>