@model StarMedsMVC.Product

@{
    ViewBag.Title = "ProductDetails";
}

<h2>ProductDetails</h2>

<div>
    <h4>Product</h4>
    <hr class="dotted-line">

    <div class="product-details-wrapper">

        <div class="product-details-image">

            @if (Model.Product_Image != null)
            {
                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Product_Image))">
            }
            else
            {
                <img class="img-responsive" src="~/Images/no-image-found.png" alt="product-image">
            }


        </div>

        <div class="product-details-description">

            <h5>    @Html.DisplayFor(model => model.Product_Name)</h5>

            <div class="two-column-box">

                <p class="price-tag">@Html.DisplayNameFor(model => model.Product_Price)</p>

                <p class="price-value">@Html.DisplayFor(model => model.Product_Price)</p>

            </div>

 

            <div class="two-column-box">

                <p class="product-tag exp-date-tag">@Html.DisplayNameFor(model => model.ExpiryDate)</p>

                <p class="product-details exp-date">@Html.DisplayFor(model => model.ExpiryDate)</p>

            </div>

            <div class="two-column-box">

                <p class="product-tag">@Html.DisplayNameFor(model => model.Quantity)</p>

                <p class="product-details qty-value">@Html.DisplayFor(model => model.Quantity)</p>

            </div>


            <div class="two-column-box">

                <p class="product-tag">@Html.DisplayNameFor(model => model.SubClassification.SubClassificationName)</p>

                <p class="product-details">@Html.DisplayFor(model => model.SubClassification.SubClassificationName)</p>

            </div>


            <div class="two-column-box">

                <p class="product-tag">@Html.DisplayNameFor(model => model.Product_Details)</p>

                <p class="product-details desc-details">@Html.DisplayFor(model => model.Product_Details)</p>

            </div>



        </div>

    </div>

    </div>
    <p class="edit-back-list">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Product_Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
