@model IEnumerable<StarMedsMVC.SubCategory>

@{
    ViewBag.Title = "Index";
}


<p class="btn-tag add-btn">
    <i class="fa fa-plus"></i>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table table-striped table-hover table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubCatName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubCatImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubCatName)
            </td>
            <td>
                @if (item.SubCatImage != null)
                {
                    <img src="data:image/jpeg;base64,@(Convert.ToBase64String(item.SubCatImage))">
                }
                else
                {
                    <h4>No Image</h4>
                }


            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td class ="edit-row">
                <i class="fa fa-pencil" aria-hidden="true"></i>@Html.ActionLink("Edit", "Edit", new { id = item.SubCat_Id }, new { @class = "edit-link fa-icon" }) |
                <i class="fa fa-trash" aria-hidden="true"></i> @Html.ActionLink("Delete", "Delete", new { id = item.SubCat_Id }, new { @class = "delete-link fa-icon" })
            </td>
        </tr>
    }

</table>
