@model IEnumerable<StarMedsMVC.SubClassification>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p class="btn-tag add-btn">
    <i class="fa fa-plus"></i>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubClassificationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubClassificationImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubCategory.SubCatName)
            </th>
            <th></th>
        </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SubClassificationName)
                </td>
                <td>
                    @if (item.SubClassificationImage != null)
                    {
                        <img src="data:image/jpeg;base64,@(Convert.ToBase64String(item.SubClassificationImage))">
                    }
                    else
                    {
                       <p> No Image</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubCategory.SubCatName)
                </td>
                <td class="edit-row">
                    <i class="fa fa-pencil" aria-hidden="true"></i>@Html.ActionLink("Edit", "Edit", new { id = item.SubClassificationId }, new { @class = "edit-link fa-icon" }) |
                    <i class="fa fa-clone" aria-hidden="true"></i> @Html.ActionLink("Details", "Details", new { id = item.SubClassificationId }, new { @class = "details-link fa-icon" }) |
                    <i class="fa fa-trash" aria-hidden="true"></i> @Html.ActionLink("Delete", "Delete", new { id = item.SubClassificationId }, new { @class = "delete-link fa-icon" })
                </td>
            </tr>
        }

</table>
