@model IEnumerable<StarMedsMVC.SubClassification>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubClassificationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubClassificationImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubCategory.SubCatName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SubClassificationName)
        </td>
        <td>
            @if (item.SubClassificationImage != null)
            {
                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(item.SubClassificationImage))">
            }
            else
            {
                <h4>No Image</h4>
            }            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubCategory.SubCatName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SubClassificationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SubClassificationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SubClassificationId })
        </td>
    </tr>
}

</table>
