@model StarMedsMVC.PharmacySubCategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PharmacySubCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PharmacySubCatName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PharmacySubCatName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PharmacySubCatImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PharmacySubCatImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PharmacyCategory.PharmacyCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PharmacyCategory.PharmacyCategoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PharmacySubCatId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
