@model StarMedsMVC.Models.OffersModel
<div class="offer-slider clearfix">
    <h3>Health Product Offers</h3>
    <div class="owl-carousel owl-theme">
        @foreach (var item in Model.HealthProducts)
        {
            <div class="item">

                <div class="product-image">
                    @if (item.Product_Image != null)
                    {
                        <img src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Product_Image))">
                    }
                    else
                    {
                        <img class="img-responsive" src="~/Images/no-image-found.png" alt="product-image">
                    }
                
                </div>

                <div class="product-info">

                    <h6 class="caps lhgt20">

                        <span class="productName">@item.Product_Name</span>

                    </h6>

                    <h6 class="price-text-color padding-t-b-5 margin-none">

                        <strong class="large-text color-red">Rs @item.Product_Price</strong>

                        <span class="strike">Rs @item.Product_Price</span>                       

                    </h6>

                    <a class="btn btn-danger btn-block addToCartBtn" type="button" href="@Url.Action("AddProducts", "Cart", new { id = item.Product_Id, producttype = "healthproduct" })">Add to Cart</a>
                    

                </div>



            </div>
        }
             
 
    </div>
</div>


<div class="offer-slider clearfix">
    <h3>Pharmacy Product Offers</h3>
    <div class="owl-carousel owl-theme">
        @foreach (var item in Model.PharmacyProducts)
        {
            <div class="item">

                <div class="product-image">
                    @if (item.ProductImage != null)
                    {
                        <img src="data:image/jpeg;base64,@(Convert.ToBase64String(item.ProductImage))">
                    }
                    else
                    {
                        <img class="img-responsive" src="~/Images/no-image-found.png" alt="product-image">
                    }

                </div>

                <div class="product-info">

                    <h6 class="caps lhgt20">

                        <span class="productName">@item.ProductName</span>

                    </h6>

                    <h6 class="price-text-color padding-t-b-5 margin-none">

                        <strong class="large-text color-red">Rs @item.ProductPrice</strong>

                        <span class="strike">Rs @item.ProductPrice</span>

                    </h6>

                    <a class="btn btn-danger btn-block addToCartBtn" type="button" href="@Url.Action("AddProducts", "Cart", new { id = item.ProductId, producttype = "pharmacyproduct" })">Add to Cart</a>


                </div>



            </div>
        }


    </div>
</div>