@model  StarMedsMVC.Models.NavigationMenuModel

<div class="container-fluid padding-none">
    <div class="row margin-none">
        <div class="top-bar-info">
            <div class="col-xs-12 col-sm-12 col-md-12 text-right">

                @if (HttpContext.Current.Session["Username"] == null)
                {
                    <ul>
                        <li><i class="fa fa-power-off" aria-hidden="true"></i> @Html.ActionLink("Login/Register", "Login", "Login")</li>
                    </ul>
                }
                else
                {
                    <ul>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome @HttpContext.Current.Session["CustomerName"].ToString()<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><i class="fa fa-user" aria-hidden="true"></i><a href="#"> My Orders</a></li>
                                <li><i class="fa fa-user" aria-hidden="true"></i><a href="@Url.Action("Index", "Addresses")"> My Addresses</a></li>
                                <li><i class="fa fa-user" aria-hidden="true"></i><a href="#"> Change Password</a></li>
                                <li><i class="fa fa-sign-out" aria-hidden="true"></i> @Html.ActionLink("Logout", "LogOut", "LogOut", new { area = "" }, null)</li>
                            </ul>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
</div>

<div class="header-content clearfix">

    <a href="/" title="StarMeds">
        <img class="logo m-hide" src="~/Images/starmeds.png" alt="StarMeds">
    </a>
    <nav class="navbar mart-nav margin-none header-bar" role="navigation">
        <div class="cart-icon">
            <a href="@Url.Action("MyCart", "Cart")">
                <img src="~/Images/shopping-cart.svg">
            </a>
            @if (@Session["count"] != null)
            {<span class="cart-number">(@Session["count"])</span>}
            else
            {<span class="cart-number">(0)</span> }
        </div>

        <ul class="nav navbar-nav nav-search">
            <div class="form-group margin-none">
                <div class="input-group productsearch">
                    <span class="input-group-btn">
                        <button class="btn btnMenu" type="button" id="MartSearchCategories" data-toggle="dropdown">All Product<span class="caret"></span></button>
                        <ul class="dropdown-menu categories-drpdwn" aria-labelledby="MartSearchCategories">
                            <li><a href="javascript:;" id="general"><i class="fa fa-check-circle"></i> General Store</a></li>

                            <li><a href="javascript:;" id="pharmacy"><i class="fa fa-check-circle"></i> Pharmacy</a></li>

                            <li><a href="javascript:;" id="allProducts" class="active"><i class="fa fa-check-circle"></i> All Products</a></li>
                        </ul>
                    </span>
                    <span class="twitter-typeahead srchdropdwn container-fluid padding-none">
                        <input id="txtSearch" name="txtSearch" data-provide="typeahead" type="text" class="form-control navtxtSearch typeahead tw-typeahead tt-query" placeholder="Search for... general or pharma products" autocomplete="on" spellcheck="false" dir="auto">

                    </span>
                    <i class="fa fa-refresh fa-spin fa-fw loadproducts hide"></i>
                    <span class="input-group-btn">
                        <button class="btn btnDark" type="button" onclick="searchNew()"><i class="fa fa-search"></i> SEARCH</button>
                    </span>
                </div>
                <div class="serach-result-box" style="display:none">
                    <ul class="search-list">
                        <li class="searh-list-item"><a href="#">List</a></li>
                        <li class="searh-list-item"><a href="#">List</a></li>
                        <li class="searh-list-item"><a href="#">List</a></li>
                        <li class="searh-list-item"><a href="#">List</a></li>
                    </ul>
                </div>
            </div>
        </ul>
    </nav>
</div>
<header class="header-2">
    <nav class="navbar navbar-default menu-nav">
        <!-- Navigation Bar -->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation" aria-expanded="false">
                    <span class="sr-only">Toggle Menu</span>
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="main-navigation">
                <!-- Main Menu -->
                <ul class="nav navbar-nav navbar-right">
                    <li class="mega-sub-menu">
                        <a href="#">Health Products</a>         <!-- Mega Menu -->
                        <ul class="mega-dropdown row">
                            @for (int i = 0; i < 2; i++)
                            {
                                <li class="col-sm-3">
                                    <ul class="mega-menu-items">
                                        <li class="heading">@Html.ActionLink(Model.HealthProductCategories[i].CategoryName, "Details", "HpSubCategories", new { id = Model.HealthProductCategories[i].CategoryId }, null)</li>
                                        @foreach (var subcat in Model.HealthProductCategories[i].SubCategories)
                                        {
                                            <li>@Html.ActionLink(@subcat.SubCatName, "Details", "HpSubClassifications", new { id = subcat.SubCat_Id }, null)</li>
                                        }
                                        <li class="hr"></li>
                                    </ul>
                                </li>
                            }

                            @for (int i = 2; i < 4; i++)
                            {
                                <li class="col-sm-3">
                                    <ul class="mega-menu-items">
                                        <li class="heading">@Html.ActionLink(Model.HealthProductCategories[i].CategoryName, "Details", "HpSubCategories", new { id = Model.HealthProductCategories[i].CategoryId }, null)</li>
                                        @foreach (var subcat in Model.HealthProductCategories[i].SubCategories)
                                        {
                                            <li>@Html.ActionLink(@subcat.SubCatName, "Details", "HpSubClassifications", new { id = subcat.SubCat_Id }, null)</li>
                                        }
                                        <li class="hr"></li>
                                    </ul>
                                </li>
                            }

                            @for (int i = 4; i < Model.HealthProductCategories.Count; i++)
                            {
                                <li class="col-sm-3">
                                    <ul class="mega-menu-items">
                                        <li class="heading">@Html.ActionLink(Model.HealthProductCategories[i].CategoryName, "Details", "HpSubCategories", new { id = Model.HealthProductCategories[i].CategoryId }, null)</li>
                                        @foreach (var subcat in Model.HealthProductCategories[i].SubCategories)
                                        {
                                            <li>@Html.ActionLink(@subcat.SubCatName, "Details", "HpSubClassifications", new { id = subcat.SubCat_Id }, null)</li>
                                        }
                                        <li class="hr"></li>
                                    </ul>
                                </li>
                            }
                        </ul>
                    </li>
                    <li class="mega-sub-menu">
                        <a href="#">Pharmacy</a>         <!-- Mega Menu -->
                        <ul class="mega-dropdown row">
                            @for (int i = 0; i < 2; i++)
                            {
                                <li class="col-sm-3">
                                    <ul class="mega-menu-items">
                                        <li class="heading">@Html.ActionLink(Model.PharmacyCategories[i].PharmacyCategoryName, "Details", "PharmacySubCategories", new { id = Model.PharmacyCategories[i].PharmacyCategoryId }, null)</li>
                                        @foreach (var subcat in Model.PharmacyCategories[i].PharmacySubCategories)
                                        {
                                            <li>@Html.ActionLink(@subcat.PharmacySubCatName, "Details", "PharmacyProducts", new { id = subcat.PharmacySubCatId }, null)</li>
                                        }
                                        <li class="hr"></li>
                                    </ul>
                                </li>
                            }

                            @for (int i = 2; i < 4; i++)
                            {
                                <li class="col-sm-3">
                                    <ul class="mega-menu-items">
                                        <li class="heading">@Html.ActionLink(Model.PharmacyCategories[i].PharmacyCategoryName, "Details", "PharmacySubCategories", new { id = Model.PharmacyCategories[i].PharmacyCategoryId }, null)</li>
                                        @foreach (var subcat in Model.PharmacyCategories[i].PharmacySubCategories)
                                        {
                                            <li>@Html.ActionLink(@subcat.PharmacySubCatName, "Details", "PharmacyProducts", new { id = subcat.PharmacySubCatId }, null)</li>
                                        }
                                        <li class="hr"></li>
                                    </ul>
                                </li>
                            }

                            @for (int i = 4; i < Model.HealthProductCategories.Count; i++)
                            {
                                <li class="col-sm-3">
                                    <ul class="mega-menu-items">
                                        <li class="heading">@Html.ActionLink(Model.PharmacyCategories[i].PharmacyCategoryName, "Details", "PharmacySubCategories", new { id = Model.PharmacyCategories[i].PharmacyCategoryId }, null)</li>
                                        @foreach (var subcat in Model.PharmacyCategories[i].PharmacySubCategories)
                                        {
                                            <li>@Html.ActionLink(@subcat.PharmacySubCatName, "Details", "PharmacyProducts", new { id = subcat.PharmacySubCatId }, null)</li>
                                        }
                                        <li class="hr"></li>
                                    </ul>
                                </li>
                            }
                        </ul>
                    </li>
                    <li>
                        @Html.ActionLink("About", "About", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Contact", "Contact", "Home")
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>
<script src="~/Scripts/jquery-3.3.1.js"></script>
