<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Areas/admin/css/custom.css" rel="stylesheet" />
</head>

<body>

    @RenderBody()

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"> </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="~/Areas/admin/js/custom.js"></script>
    <script>
        //HpCategories Ajax Calls
        $("#addHpCategories").click(function () {
            //Do stuff when clicked
            $.ajax({
                type: "get",
                url: "@Url.Action("Create", "HpCategories", new { area = "" })",
                success: function (d) {
                    /* d is the HTML of the returned response */
                    $("#renderView").html(d); //replaces previous HTML with action
                }
            });
        });

        $("#editHpCategories").click(function () {
            //Do stuff when clicked
            $.ajax({
                type: "get",
                url: "@Url.Action("EditIndex", "HpCategories", new { area = "" })",
                success: function (d) {
                    /* d is the HTML of the returned response */
                    $("#renderView").html(d); //replaces previous HTML with action
                }
            });
        });

        $("#viewHpCategories").click(function () {
            //Do stuff when clicked
            $.ajax({
                type: "get",
                url: "@Url.Action("Index", "HpCategories", new { area = "" })",
                success: function (d) {
                    /* d is the HTML of the returned response */
                    $("#renderView").html(d); //replaces previous HTML with action
                }
            });
        });


        //Hp Subcategories Ajax Calls
        $("#addHpSubCategories").click(function () {
            //Do stuff when clicked
            $.ajax({
                type: "get",
                url: "@Url.Action("Create", "HpSubCategories", new { area = "" })",
                success: function (d) {
                    /* d is the HTML of the returned response */
                    $("#renderView").html(d); //replaces previous HTML with action
                }
            });
        });

        $("#editHpSubCategories").click(function () {
            //Do stuff when clicked
            $.ajax({
                type: "get",
                url: "@Url.Action("EditIndex", "HpSubCategories", new { area = "" })",
                success: function (d) {
                    /* d is the HTML of the returned response */
                    $("#renderView").html(d); //replaces previous HTML with action
                }
            });
        });

        $("#viewHpSubCategories").click(function () {
            //Do stuff when clicked
            $.ajax({
                type: "get",
                url: "@Url.Action("Index", "HpSubCategories", new { area = "" })",
                success: function (d) {
                    /* d is the HTML of the returned response */
                    $("#renderView").html(d); //replaces previous HTML with action
                }
            });
        });

        //Hp SubClassifications Ajax Calls
        $("#addHpSubClassifications").click(function () {
            //Do stuff when clicked
            $.ajax({
                type: "get",
                url: "@Url.Action("Create", "HpSubClassifications", new { area = "" })",
                success: function (d) {
                    /* d is the HTML of the returned response */
                    $("#renderView").html(d); //replaces previous HTML with action
                }
            });
        });

        $("#editHpSubClassifications").click(function () {
            //Do stuff when clicked
            $.ajax({
                type: "get",
                url: "@Url.Action("EditIndex", "HpSubClassifications", new { area = "" })",
                success: function (d) {
                    /* d is the HTML of the returned response */
                    $("#renderView").html(d); //replaces previous HTML with action
                }
            });
        });

        $("#viewHpSubClassifications").click(function () {
            //Do stuff when clicked
            $.ajax({
                type: "get",
                url: "@Url.Action("Index", "HpSubClassifications", new { area = "" })",
                success: function (d) {
                    /* d is the HTML of the returned response */
                    $("#renderView").html(d); //replaces previous HTML with action
                }
            });
        });


        //HpProducts Ajax Calls
        $("#addHpProducts").click(function () {
            //Do stuff when clicked
            $.ajax({
                type: "get",
                url: "@Url.Action("Create", "HpProducts", new { area = "" })",
                success: function (d) {
                    /* d is the HTML of the returned response */
                    $("#renderView").html(d); //replaces previous HTML with action
                }
            });
        });

        $("#editHpProducts").click(function () {
            //Do stuff when clicked
            $.ajax({
                type: "get",
                url: "@Url.Action("EditIndex", "HpProducts", new { area = "" })",
                success: function (d) {
                    /* d is the HTML of the returned response */
                    $("#renderView").html(d); //replaces previous HTML with action
                }
            });
        });

        $("#viewHpProducts").click(function () {
            //Do stuff when clicked
            $.ajax({
                type: "get",
                url: "@Url.Action("Index", "HpProducts", new { area = "" })",
                success: function (d) {
                    /* d is the HTML of the returned response */
                    $("#renderView").html(d); //replaces previous HTML with action
                }
            });
        });



        //Pharmacy Categories Ajax Calls
        $("#addPharmacyCategories").click(function () {
            //Do stuff when clicked
            $.ajax({
                type: "get",
                url: "@Url.Action("Create", "PharmacyCategories", new { area = "" })",
                success: function (d) {
                    /* d is the HTML of the returned response */
                    $("#renderView").html(d); //replaces previous HTML with action
                }
            });
        });

        $("#editPharmacyCategories").click(function () {
            //Do stuff when clicked
            $.ajax({
                type: "get",
                url: "@Url.Action("EditIndex", "PharmacyCategories", new { area = "" })",
                success: function (d) {
                    /* d is the HTML of the returned response */
                    $("#renderView").html(d); //replaces previous HTML with action
                }
            });
        });

        $("#viewPharmacyCategories").click(function () {
            //Do stuff when clicked
            $.ajax({
                type: "get",
                url: "@Url.Action("Index", "PharmacyCategories", new { area = "" })",
                success: function (d) {
                    /* d is the HTML of the returned response */
                    $("#renderView").html(d); //replaces previous HTML with action
                }
            });
        });


        //Pharmacy SubCategories Ajax Calls
        $("#addPharmacySubCategories").click(function () {
            //Do stuff when clicked
            $.ajax({
                type: "get",
                url: "@Url.Action("Create", "PharmacySubCategories", new { area = "" })",
                success: function (d) {
                    /* d is the HTML of the returned response */
                    $("#renderView").html(d); //replaces previous HTML with action
                }
            });
        });

        $("#editPharmacySubCategories").click(function () {
            //Do stuff when clicked
            $.ajax({
                type: "get",
                url: "@Url.Action("EditIndex", "PharmacySubCategories", new { area = "" })",
                success: function (d) {
                    /* d is the HTML of the returned response */
                    $("#renderView").html(d); //replaces previous HTML with action
                }
            });
        });

        $("#viewPharmacySubCategories").click(function () {
            //Do stuff when clicked
            $.ajax({
                type: "get",
                url: "@Url.Action("Index", "PharmacySubCategories", new { area = "" })",
                success: function (d) {
                    /* d is the HTML of the returned response */
                    $("#renderView").html(d); //replaces previous HTML with action
                }
            });
        });


        //Pharmacy Produc Ajax Calls
        $("#addPharmacyProducts").click(function () {
            //Do stuff when clicked
            $.ajax({
                type: "get",
                url: "@Url.Action("Create", "PharmacyProducts", new { area = "" })",
                success: function (d) {
                    /* d is the HTML of the returned response */
                    $("#renderView").html(d); //replaces previous HTML with action
                }
            });
        });

        $("#editPharmacyProducts").click(function () {
            //Do stuff when clicked
            $.ajax({
                type: "get",
                url: "@Url.Action("EditIndex", "PharmacyProducts", new { area = "" })",
                success: function (d) {
                    /* d is the HTML of the returned response */
                    $("#renderView").html(d); //replaces previous HTML with action
                }
            });
        });

        $("#viewPharmacyProducts").click(function () {
            //Do stuff when clicked
            $.ajax({
                type: "get",
                url: "@Url.Action("Index", "PharmacyProducts", new { area = "" })",
                success: function (d) {
                    /* d is the HTML of the returned response */
                    $("#renderView").html(d); //replaces previous HTML with action
                }
            });
        });



        $("#editOrders").click(function () {
            //Do stuff when clicked
            $.ajax({
                type: "get",
                url: "@Url.Action("EditIndex", "Orders", new { area = "Admin" })",
                success: function (d) {
                    /* d is the HTML of the returned response */
                    $("#renderView").html(d); //replaces previous HTML with action
                }
            });
        });

        $("#viewOrders").click(function () {
            //Do stuff when clicked
            $.ajax({
                type: "get",
                url: "@Url.Action("Index", "Orders", new { area = "Admin" })",
                success: function (d) {
                    /* d is the HTML of the returned response */
                    $("#renderView").html(d); //replaces previous HTML with action
                }
            });
        });


    </script>
</body>

</html>